server1/data
!server1/data/.gitkeep
server1/log
!server1/log/.gitkeep

server2/data
!server2/data/.gitkeep
server2/log
!server2/log/.gitkeep

server3/data
!server3/data/.gitkeep
server3/log
!server3/log/.gitkeep

client1/data
!client1/data/.gitkeep
client1/log
!client1/log/.gitkeep

client2/data
!client2/data/.gitkeep
client2/log
!client2/log/.gitkeep

node_modules
!node_modules/.gitkeep